/* Space out content a bit */
/*body {*/
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
/*}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
/*@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
*/
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.btn-xlg {
    padding: 18px 28px;
    margin: 10px;
    font-size: 35px;
    line-height: normal;
            border-radius: 8px;
}

.title {
  position: absolute;
  font-weight: 700;
  font-size: 120px;
  color: black;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  /*text-shadow: 5px 5px black;*/
}

.title-font {
  opacity: 1;
}

.blur { 
  top: 100%;
  width:100%;
  height:100%;
  position: absolute;
  /*background-color: #4e91f0;*/
  background-color: white;
  /*background-image:url('../images/dogbg.png');*/
  background-size:cover;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  -o-filter: blur(8px);
  filter: blur(8px);
}
.paw-pattern {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-size: 14%;
  /*background-image: url('../images/pawprintspace.png');*/
  background-image: url('../images/pawprintdiag.png');
  background-repeat: repeat-x;
}
.overlay {
  top: 100%;
  width:100%;
  height:100%;
  position: absolute;
  background-color: white;
  opacity: .4;
}
.info {
  top: 100%;
  width:100%;
  height:100%;
  position: absolute;
}

.btn-custom {
  width: 100%;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-custom {
  border: 0px;
  margin-right: 25px;
  margin-left: 25px;
  box-shadow: 10px 10px 20px black;
}

.panel-custom > .panel-heading {
  padding-top: 15px;
  padding-bottom: 15px;
  /*background-color: #4e91f0; */
  background-color: #f0ad4e;
  /*border-color: #1367df;*/
  border-color: #df8a13;
}

.panel-custom > .panel-body {
  height: 400px;
}

.panel-custom > .panel-footer {
  padding: 0px;
}

.panel-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.welcome {
  position: absolute;
  height: 80%;
  width: 100%;

  background-image: url('../images/dogbg_orig.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: content-box;
}