<div style="padding-top:100px">
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="margin-top:20px">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-default">Lost</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default">Found</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <select id="color" class="form-control">
              <option selected disabled>Type</option>
              <option>Dog</option>
              <option>Cat</option>
            </select>
          </div>
          <div class="form-group">
            <select id="color" class="form-control">
              <option selected disabled>Color</option>
              <option>Yellow</option>
              <option>Brown</option>
              <option>Black</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="breed" placeholder="Breed">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="location" placeholder="Location">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="date" placeholder="Date">
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" id="breed" placeholder="Your Name">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" id="breed" placeholder="Phone Number">
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-md-offset-1 col-md-7">
        <div class="row">
          <div class="col-xs-6 img-portfolio">
            <h3>
              <span class="color">Yellow</span> Golden Retreiver
            </h3>
            <a href="portfolio-item.html">
              <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
            </a>
            <h5>Blackburg, VA <span class="date pull-right">8/29/2014</span></h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <h5 class="pull-right">John: 703-955-1026</h5>
          </div>
          <div class="col-xs-6 img-portfolio">
            <h3>
              <span class="color">Yellow</span> Golden Retreiver
            </h3>
            <a href="portfolio-item.html">
              <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
            </a>

            <h5>Blackburg, VA <span class="pull-right">8/29/2014</span></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <h5 class="pull-right">John: 703-955-1026</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 img-portfolio">
            <h3>
              <span class="color">Yellow</span> Golden Retreiver
            </h3>
            <a href="portfolio-item.html">
              <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
            </a>
            <h5>Blackburg, VA <span class="date pull-right">8/29/2014</span></h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <h5 class="pull-right">John: 703-955-1026</h5>
          </div>
          <div class="col-xs-6 img-portfolio">
            <h3>
              <span class="color">Yellow</span> Golden Retreiver
            </h3>
            <a href="portfolio-item.html">
              <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
            </a>

            <h5>Blackburg, VA <span class="pull-right">8/29/2014</span></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <h5 class="pull-right">John: 703-955-1026</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>