<div class="container-fluid">
  <div style="text-align:center"> 
    <!-- <div style="height:300px;width:300px"></div> -->
    <!-- <img height="300px" width="300px" src=""> -->
  </div>
  <h1 class="title">
    Pet Services
  </h1>

  <div class="info">
    <div class="row">
      <div style="margin-top:370px">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-4">
            <div class="panel panel-custom">
              <div class="panel-heading">
                <h1 class="panel-title">Lost your pet?</h1>
              </div>
              <div class="panel-body" style="text-align:center;padding-top:15px;padding-bottom:15px;">
                <img class="img-circle"  alt="140x140" src="images/catprof.png" style="width: 140px; height: 140px;">
              </div>
              <div class="panel-footer" style="text-align:center;">        
                <button type="button" class="btn btn-default btn-lg btn-danger btn-custom">Help Me!</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-custom">
              <div class="panel-heading">
                <h1 class="panel-title">Find a pet?</h1>
              </div>
              <div class="panel-body" style="text-align:center;padding-top:15px;padding-bottom:15px;">
                <img class="img-circle"  alt="140x140" src="images/dogprof.png" style="width: 140px; height: 140px;">
              </div>
              <div class="panel-footer" style="text-align:center;">        
                <button type="button" class="btn btn-default btn-lg btn-danger btn-custom">Help Me!</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-custom">
              <div class="panel-heading">
                <h1 class="panel-title">Adopt a pet?</h1>
              </div>
              <div class="panel-body" style="text-align:center;padding-top:15px;padding-bottom:15px;">
                <img class="img-circle"  alt="140x140" src="images/lionprof.png" style="width: 140px; height: 140px;">
              </div>
              <div class="panel-footer" style="text-align:center;">        
                <button type="button" class="btn btn-default btn-lg btn-danger btn-custom">Help Me!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div style="text-align:center;vertical-align:bottom;padding-top:520px">
    <div style="">
      <button type="button" class="btn btn-default btn-xlg btn-warning">Lost a Pet</button>
      <button type="button" class="btn btn-default btn-xlg btn-warning">Found a Pet</button>
      <button type="button" class="btn btn-default btn-xlg btn-warning">Adopt a Pet</button>
    </div>
  </div> -->
</div>
